@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!---- Icons ---->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    <!--- Style CSS-->
    <link href="~/Content/StyleMainPage.css" rel="stylesheet" />

    <title>Gestión de Proyectos</title>

    <!---- Title bar logo ---->
    <link rel="icon" href="~/img/logoCivco.png" type="image/png">
</head>
<body>
    <div class="loginBox">
        <!-- Main body -->
        <div class="container">
            <!--- Login --->
            <div class="form ChangePassword">
                <h1>Cambiar contraseña</h1><br><hr>

                <form action="@Url.Action("ChangePassword", "Access")" method="post">

                    <input class="form-control" value="@TempData["idUser"]" name="idUser" type="hidden" />

                    <!---User input---->
                    <div class="input-field">
                        <input type="text" autocomplete="off" placeholder="Contraseña temporal" name="tmpPassword" value="@ViewData["vPass"]" required>
                    </div>

                    <!---Password input---->
                    <div class="input-field">
                        <input name="newPassword" class="password" placeholder="Nueva contraseña" id="inputPassword" type="password" autocomplete="off" required>
                        <i class="uil uil-eye-slash showHidePw"></i>
                    </div>

                    <!---Password input again---->
                    <div class="input-field">
                        <input name="confirmPassword" type="password" class="password" autocomplete="off" placeholder="Confirmar nueva contraseña" required>
                        <i class="uil uil-eye-slash showHidePw"></i>
                    </div>

                    <!---Change password button---->
                    <div class="input-field button2">
                        <input type="submit" value="Cambiar contraseña">
                    </div>

                    <!---Login shorcut---->
                    <div class="login-signup">
                        <a href="@Url.Action("Login", "Access")" class="text signup-link">Volver</a>
                    </div>
                    @{
                        if (ViewBag.Error != null)
                        {
                            <div class="form-floating mb-3">
                                <div class="alert alert-danger" role="alert">
                                    @ViewBag.Error
                                </div>
                            </div>
                        }
                    }
                </form>
            </div>
        </div>
    </div>
    <!-- Background image -->
    <style>
        body {
            background-image: url('../../img/backgroundAImg.png');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 100% 100%;
        }
    </style>

    <div class="footer">
        <!-- Logos footer -->
        <img class="logoFooter" src="~/img/logoBlancoCIVCO.png" />
    </div>

    <!-- Additional functions -->
    <script src="~/Scripts/ScriptMainPage.js"></script>
</body>
</html>