@{
    Layout = null;
}
<html5>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>IniciarSesion</title>
        <link href="~/Content/signup.css" rel="stylesheet" />
    </head>
    <body>
        <div class="container">
            <div class="tittle">
                <img clas="logo" src="~/Content/img/logoAgronomi.png"  alt="" width="250" height="250"/>
                <label>¡Bienvenido!</label>
            </div>
            <div class="content">
                <form asp-controller="Inicio" asp-action="Registrarse" method="post">
                    <div class="inputContent">
                        <div class="inputContentOption">
                            <input name="mail" class="form-control mb-3" type="text" placeholder="Correo electrónico" required  />
                        </div>
                        <div class="inputContentOption">
                            <input name="password" class="form-control mb-3" type="password" placeholder="Contraseña" required />
                        </div>

                        <div class="d-grid gap-2 mb-3">
                            <button class="btnAgronomi" type="submit">Iniciar Sesion</button>
                        </div>
                        @if (ViewData["Mensaje"] != null)
                        {

                            <div class="form-group">
                                <div class="alert alert-danger" role="alert">
                                    @ViewData["Mensaje"]
                                </div>
                            </div>
                        }
                        ¿No tienes una cuenta? <a href="@Url.Action("Registrarse","Access")"> Registraste!</a>
                    </div>
                </form>
            </div>
        </div>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/complementos")
        @Scripts.Render("~/bundles/bootstrap")

    </body>
</html5>